!!!
%html
  %head
    %title Milkshakes for Stalin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      -[:notice, :error, :alert].each do |level|
        - unless flash[level].blank?
          %div{class: "alert alert-#{flash_class(level)}"}
            %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
            = flash[level]
    .nav.user-nav
      %ul
        =link_to "New Post", new_post_path
    = yield
